* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box input[type="text"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}


.form-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-box h2 {
  color: #000080;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
}

.form-box form {
  display: flex;
  flex-direction: column;
}

.form-box label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.form-box input[type="email"],
.form-box input[type="password"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.btn {
  background-color: #000080;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  width: fit-content;
}

.btn:hover {
  background-color: #1a1aff;
}

.form-text {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  color: #000;
}

.form-text a {
  color: #000080;
  text-decoration: none;
  font-weight: bold;
}

.form-text a:hover {
  text-decoration: underline;
}
